h3 {
  align-self: center;
}

#form-container {
  background-color: #cee2e3;
  max-width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}

.input-value {
  display: flex;
  flex-direction: row;
  background-color: #e6f0f1;
  margin-bottom: 5px;
  padding-left: 5%;
}

.field-name {
  font-weight: 700;
  margin-right: 5px;
  color: #356565;
}
